@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    Layout = "_LayoutFrontOffice";
}

<style>
    
  .styled-table {
      width: 100%;
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 18px;
      text-align: left;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .styled-table th, .styled-table td {
      padding: 12px 15px;
      border: 1px solid #dddddd;
  }

  .styled-table thead tr {
      background-color: #dddddd;
      color: #ffffff;
      text-align: left;
  }

  .styled-table tbody tr {
      background-color: #f3f3f3;
  }

  .styled-table tbody tr:nth-of-type(even) {
      background-color: #e9e9e9;
  }

  .styled-table tbody tr:hover {
      background-color: #d1d1d1;
  }

  .styled-table th.small-header, .styled-table td.small-cell {
      width: 130px;
  }

  .styled-table th.small-header2, .styled-table td.small-cell2 {
      width: 350px;
  }
  .pagination {
        display: flex;
        list-style: none;
        padding-left: 0;
    }

    .custom-pagination-item {
        margin-right: 5px;
        animation: fadeIn 0.5s ease; /* Animation pour les éléments de pagination */
    }

    .custom-pagination-item a {
        display: block;
        padding: 10px 15px;
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        text-decoration: none;
        border-radius: 3px;
        transition: background-color 0.3s ease;
    }

    .custom-pagination-item a:hover {
        background-color: #e9e9e9;
    }

    .custom-pagination-item.active a {
        background-color: #007bff;
        color: #fff;
    }

    .custom-pagination-item.disabled a {
        pointer-events: none;
        cursor: default;
        opacity: 0.5;
    }

    @Html.Raw("@")keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

</style>
  <main id="main" class="main">
      <div class="pagetitle">
        <h1>Accueil</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html"></a></li>
          </ol>
        </nav>
      </div><!-- End Page Title -->
      <section class="section dashboard">
        <div class="row">
           <div class="col-lg-12">
                <div class="etape-card">
                    <div class="card-body">

                    <div class="pagetitle">
                        <h1>EQUIPE @ViewBag.Equipe.Nom</h1>
                    </div>
                    <br>
                      @{
                      var listeClassement = ViewBag.ListeClassement as IEnumerable<IGrouping<string, ClassementGeneralView>>;
                      if (listeClassement != null && listeClassement.Any())
                      {
                          foreach (var groupe in listeClassement)
                          {
                              <nav>
                                  <ol class="breadcrumb">
                                      <li class="breadcrumb-item">
                                          <a asp-controller="Equipe" asp-action="Index">
                                              @groupe.FirstOrDefault()?.Etape (@groupe.FirstOrDefault()?.Longueur km) - @groupe.Count() coureurs
                                          </a>
                                          <br>
                                      </li>
                                  </ol>
                              </nav>
                              
                              <table class="styled-table">
                                  <thead>
                                      <tr>
                                          <th class="small-header" style="background-color: grey;">NOM</th>
                                          <th class="small-header2" style="background-color: grey;">TEMPS CHRONO</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      @foreach (var item in groupe)
                                      {
                                          <tr>
                                              <td class="small-cell">@item.NomCoureur</td>
                                              <td class="small-cell2">@Helpers.CalculDifferenceHeures(item.HeureDepart ,item.HeureArrive)</td>
                                          </tr>
                                      }
                                  </tbody>
                              </table>

                              <a asp-action="EquipeCoureur" asp-controller="Equipe" asp-route-id_etape="@groupe.FirstOrDefault()?.IdEtape" class="btn btn-outline-primary" style="background-color: grey;">
                                  <i class="bi bi-journal-text" style="color: white;"></i>
                                  <span style="color: white;">Ajouter Coureur</span>
                              </a>
                              <br>
                              <br>
                              <br>
                          }
                      }
                      else
                      {
                          <p>Aucun classement trouvé pour cette équipe.</p>
                      }
                  }
                    <div class="pagination-container">
                        @Html.PagedListPager(
                            (IPagedList)ViewBag.ListeClassement,
                            page => Url.Action("Index", new { page }),
                            new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded, LiElementClasses = new[] { "custom-pagination-item" }, UlElementClasses = new[] { "pagination", "justify-content-center" } }
                        )
                    </div>
                      <!-- Right side columns -->
                </section>
              </div>
          </div>
      </div>
    </div>
</main><!-- End #main -->
